<div class="mx-auto max-w-3xl">
  <p class="font-mono text-xs uppercase tracking-[0.35em] text-teal-500">edit property</p>
  <h1 class="mt-2 font-mono text-4xl font-black tracking-[-0.06em]"><%= @property_definition.label %></h1>
  <div class="mt-6">
    <%= render "crm/property_definitions/form" %>
  </div>
</div>
